<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/base.scss">
    <link rel="stylesheet" href="/styles/buttons.scss">
    <link rel="stylesheet" href="/styles/contents.scss">
    <link rel="stylesheet" href="/styles/footer.scss">
    <link rel="stylesheet" href="/styles/form.scss">
    <link rel="stylesheet" href="/styles/header.scss">
    <link rel="stylesheet" href="/styles/resets.scss">
</head>

<body>
    <header>
        <div class="page-title">
            <h1>Travel Planner</h1>
        </div>
    </header>

    <main>
        <section>
            <form class="">
                <input id="destination-input" class="fields" type="text" value="" placeholder="Where would you like to travel?">
                <input id="date-input" class="fields" type="date" value="" placeholder="When would you like to travel?">
                <input class="buttons" id="submit-button" type="submit" value="Submit" name="">
            </form>
        </section>
        <section class="message" id="message"></section>
        <section id="results"></section>

    </main>

    <footer>
        <p>Capstone project created by Ádám Sárpátki for Udacity's Front-End Developer Nanodegree Program</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>