<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <link rel="stylesheet" href="/styles/base.scss">
    <link rel="stylesheet" href="/styles/form.scss">
</head>

<body>
    <header>
        <div class="page-title">
            <h1>Travel Planner</h1>
        </div>
    </header>

    <main>
        <section>
            <form class="">
                <input id="destination-input" type="text" value="" placeholder="Where would you like to travel?">
                <input id="date-input" type="date" value="" placeholder="When would you like to travel?">
                <input class="buttons" id="button" type="submit" value="Submit" name="" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section id="results">
            <div id="location-photo"></div>
            <div id="result-data">
                <div id="my-trip">My trip to Paris, France</div>
                <div id="departing">Departing at blablabla</div>
                <input class="buttons" id="save-button" type="button" value="Save trip" name="" onclick="" onsubmit="">
                <input class="buttons" id="delete-button" type="button" value="Delete trip" name="" onclick="" onsubmit="">
                <div id="day-counter">This journey is x days away</div>
                <div id="typical-weather-title">The typical weather for then is:</div>
                <div id="typical-weather">Nice</div>
            </div>
        </section>

    </main>

    <footer>
        <p>Capstone project created by Ádám Sárpátki for Udacity's Front-End Developer Nanodegree Program</p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>