@import "../media-queries/base-media.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

main {
    flex: 2;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: #e9eff1;
}

.message {
    margin: 10px auto;
}

section {
    max-width: 800px;
    margin: 20px auto;
}

#results {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1.5fr 1.7fr;
    grid-auto-rows: minmax(auto, auto);
    margin-top: 30px;

    #location-photo img {
        max-width: 100%;
    }
}
