@import "../media-queries/contents-media.scss";

$div-margin: 2rem;

#my-trip {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 2rem 2rem 2rem;
}

#departing {
    font-size: 1.5rem;
    font-weight: 500;
    margin: $div-margin;
}

#day-counter {
    font-size: 1.2rem;
    margin: $div-margin;
}

#typical-weather-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2rem 2rem 0 2rem;
}

#typical-weather {
    margin: 1rem 2rem 0 2rem;
}

#weather-desc {
    margin: 1rem 2rem 0 2rem;
}