@import "../media-queries/footer-media.scss";

footer {
    display: grid;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: #e9eff1;
    justify-content: center;

    p {
        margin: 2rem;
    }
}