@import "../media-queries/form-media.scss";

form {
    display: grid;

    input {
        padding: 0.32rem 1.25rem;
        font-family: 'Jost', sans-serif;
        font-size: 1rem;
        width: 100%;
        line-height: 1rem;
        margin: 0.6rem 0;
    }

    .fields:focus {
        outline: none;
        border: 2px solid #008CBA;
    }
}