form {
    display: grid;

    input {
        padding: 5px 20px;
        font-family: 'Jost', sans-serif;
        font-size: 1rem;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }

    .fields:focus {
        outline: none;
        border: 2px solid #008CBA;
    }
}