header {
    display: flex;
    justify-content: center;
    margin-left: 40rem;
    margin-right: 40rem;
    background-color: #e9eff1;

    .page-title {
        color: #339966;
        margin: 3rem;
        font-size: 2rem;
    }
}